*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(235, 233, 233);
}
.logo{
    width: 3.5em;
}
.nav{
    background-color: black;
    color: white;
    width: 100vw;
}
h2{
    margin: 2vw 0;
}
h3{
    text-transform: capitalize;

}
a{
    color: white;
}
.nick_agenda{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-transform: capitalize;
}
.formulario{
    background-color: white;
    padding: 1vw;
    border-radius: 1.2vw;

}
.agendacoisas{
    background-color: white;
    font-size: 0.8em;
    margin-top: 2em;
    padding:1vw;
    border-radius: 1.2vw;
}
.date_agend,label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75em;

}
.eventolist,.hora{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    color: black;
    margin-bottom: 1vw;

}
.time{
    width: 7vw;
}

.hora_agenda{
    font-size: 1.4em;
    color: rgb(133, 131, 131);
}
.campo-edita{
    background-color: transparent;
    width: 2vw;
    height: 2vw;
    border: none;
    padding: 0 0.5em;
}
.icone-edit{
    font-size: 100%;
    margin-top: -0.10vw;

}

.formulario_edit,label{
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;

}
.formulario_edit input{
    background-color: transparent;
    color: black;
    text-transform: capitalize;
    width: 15vw;
    padding-left: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    
}